*{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

h1{
    color: red;
}

.titulo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedorContador{
    display: flex;
    justify-content: center;
    height: 400px;
    align-items: center;
    gap: 50px;
}


.formularioUsuario{
    display: flex;
    flex-direction: column;
    width: 60vw;
    gap: 2vh;
    margin: 0 auto;
    margin-top: 20vh;
}
.formularioUsuario label{
    font-size: 20px;
    font-weight: 500;
}

.formularioUsuario input{
    border: none;
    border-bottom: 1px solid black;
    font-size: 18px;
}

button{
    font-size: 24px;
    padding: 10px;
}