.formularioProductoSection{
    padding: 5vh 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.formularioProductoSection h1{
    color: black;
    text-align: center;
    margin: 5vh 0vw;

}

.formularioProductoSection form{
    width: 80vw;
    background-color: rgb(208, 208, 208);
    display: flex;
    flex-direction: column;
    padding: 15px;
    border-radius: 10px;
    gap: 3vh;
}

.formularioProductoSection form div{
    display: flex;
    flex-direction: column;
    gap: 1vh;
}
.formularioProductoSection form div input[type=text], input[type=number], select {
    border: none;
    padding: 15px 10px;
    border-radius: 10px;
}
.formularioProductoSection form div input:focus-visible, select:focus-visible{
    outline: none;
}
.formularioProductoSection form input[type=submit]{
    background-color: black;
    border: none;
    color: white;
    padding: 10px 15px;
    width: 100px;
    border-radius: 10px;
    font-weight: 700;
    margin: 0 auto;
}